*{
    margin:0;
    border:0;
}
body{
    background:linear-gradient(135deg,#000cff,#2b3648,#00c6ff)
}
.image{

    display:grid;
    grid-template-columns:repeat(5,2fr);
}
img{
    position:relative;
    top:200px;
    width: 170px;
    left: 30px;
    height: 200px;
    border:solid 10px rgba(58,135,171,0.83);
    transition:transform 0.3s ease;
    cursor:pointer;   
}
h1,h2{
    position:relative;
    top:400px;
    left:20px;
    font-family:Cambria,Cochin,Georgia,Times,'Times New Roman',serif;
    font-size:35px;
    color:azure;
}

